{% extends 'layout.html' %}
{% block content %}

<style>
  .w3-container{
    align-items: center;
    width: auto;
    height: auto;
  }
 .w3-card-4{
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .w3-img{
    height: 150%;
    width: 200%;
    background-size: 100% 100%;
  }
  .flip-card {
  background-color: transparent;
  width: 500px;
  height: 400px;
  perspective: 1000px;
  position: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.2s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #314c5e;
  color: black;

}
.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
b{
  text-align: center;
  font-size: 40px;
  font-style:initial;
  color: antiquewhite;
  }
  
  h3,h4,p{
  color: antiquewhite;
  }


</style>
<div id="home" class="w3-content">

<!-- Page Start -->
<div id="home" class="w3-content" style="max-width:1564px"><br><br><br><br>
    <div class="flip-card">
     <div class="flip-card-inner">
      <div class="flip-card-front"><br><br>
        <p><b>HELLO EVERYONE!!</b></p>
          <h3>WE welcome you to the Indian Bank</h3><br>
          <h4>Stay connected to your account 24/7</h4><br>
          <p>Secure online and mobile banking for your everyday financial needs during these challenging times.</p><br>
          <p>----------@----------</p>
      </div>
      <div class="flip-card-back"><br><br><br><br>
       <h3>Sparks Foundation Internship Project : Basic Banking System</h3><br>
       <h3>#GRIPmay21</h3><br> 
       <h3>#TASK1</h3>
      </div>
     </div>
    </div>
<!-- Page End -->
</div>

 {% endblock content %}