{% extends 'layout.html' %}
{% block content %}

<style>
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 80%;
        border: 1px solid #485461;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
        box-shadow: 5px 10px 15px #888888;
        background: white;
      }
      
    th, td, tr {
        text-align: center;
        padding: 8px;
        border: 5px #485461;
        }
      
    tr:nth-child{
        background-color: #f2f2f2
          }

    tr:first-child{
        background-color: #3f4752;  
    }

    table tr:hover{  
        background: #838586ef;
          }

    th, td {
        border: 1px solid #485461 ;
        box-shadow: 3px 6px 8px #888888;
        font-size: 90%;
    }

    th {
       border: 3px solid #485461;
       font-weight: bold;
       font-size: 130%;
    }

    h1 {
        text-align: center;
    }
    .btn-group button {
        background-color: #3f4752; /* Grey background */
        border: 1px solid #3f4752; /* Grey border */
        color: white; /* White text */
        padding: 10px 24px; /* Some padding */
        cursor: pointer; /* Pointer/hand icon */
        float: left; /* Float the buttons side by side */
        border-radius: 4px;
      }
    .w3-img{
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    }
/* Clear floats (clearfix hack) */
    .btn-group:after {
        content: "";
        clear: both;
        display: table;
      }

    .btn-group button:not(:last-child) {
        border-right: none; /* Prevent double borders */
      }

/* Add a background color on hover */
    .btn-group button:hover {
        background-color: #3f4752;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      }

      
</style>

<div style="overflow-x:auto;">
 <h1><b>Users</b></h1>
  <table>
    <tr style="color: #f2f2f2;">
      <th>Sr No.</th>
      <th>Name</th>
      <th>Email</th>
      <th>Balance</th>
      <th>Transfer money</th>
    </tr>

      {% for row in users %}
      <tr>
      <td>{{ row.sr_no }}</td>
      <td>{{ row.name }}</td>
      <td>{{ row.email }}</td>
      <td>{{ row.balance }}</td>
      <td><div class="btn-group">
        <button type="button"><a href="{{ url_for('transections') }}">Send Money</a></button>
      </td>
      </tr>
      {% endfor %}
    <!--<tr>
      <td>2</td>
      <td>Eve</td>
      <td>Eve@gmail.com</td>
      <td>258</td>
      <td><div class="btn-group">
        <button type="button"><a href="{{ url_for('transections') }}">Send Money</a></button>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>Adam</td>
      <td>Adam@gmail.com</td>
      <td>500</td>
      <td><div class="btn-group">
        <button type="button"><a href="{{ url_for('transections') }}">Send Money</a></button>
      </td>
    </tr>-->
  </table>
</div>

{% endblock content %}